
body {
	background-color: orange; 
	font-family: red;
	text-align: center;
	color: black;
	background-image: url("images/diamond.pnd");
	max-width: 800px;
	margin: auto;
	margin-top: 50px;
	font-family: Verdana;
}

h3{ font-family: red;
	font-size: 40px: 
	color: black;
    background-color:white;
    border:5px solid green }

h3{#logo{width: 50px.}
.staff{border-radius: 60%}}

h1{font-size: 40px
background-color:red
border5px solid green} </h1>

a{}







